@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--holly-100: 162, 12%, 90%;
		--holly-200: 162, 12%, 83%;
		--holly-300: 162, 12%, 75%;
		--holly-400: 162, 12%, 60%;
		--holly-500: 162, 15%, 40%;
		--holly-600: 162, 25%, 28%;
		--holly-700: 162, 50%, 18%;
		--holly-800: 162, 50%, 14%;
		--holly-900: 162, 50%, 10%;

		--seafoam-100: 162, 50%, 94%;
		--seafoam-200: 162, 50%, 88%;
		--seafoam-300: 162, 50%, 78%;
		--seafoam-400: 162, 50%, 58%;
		--seafoam-500: 162, 54%, 42%;
		--seafoam-600: 162, 54%, 36%;
		--seafoam-700: 162, 70%, 25%;
		--seafoam-800: 162, 60%, 20%;
		--seafoam-900: 162, 80%, 12%;

		--smoke-100: 30, 20%, 98%;
		--smoke-200: 30, 20%, 96%;
		--smoke-300: 30, 15%, 92%;
		--smoke-400: 30, 10%, 88%;
		--smoke-500: 30, 5%, 82%;
		--smoke-600: 30, 5%, 70%;
		--smoke-700: 30, 2%, 55%;
		--smoke-800: 30, 2%, 38%;
		--smoke-900: 30, 2%, 24%;

		--sienna-100: 20, 72%, 96%;
		--sienna-200: 20, 72%, 90%;
		--sienna-300: 20, 72%, 80%;
		--sienna-400: 20, 66%, 70%;
		--sienna-500: 20, 60%, 58%;
		--sienna-600: 20, 50%, 48%;
		--sienna-700: 20, 62%, 38%;
		--sienna-800: 20, 86%, 28%;
		--sienna-900: 20, 96%, 20%;

		--sand-100: 36, 60%, 96%;
		--sand-200: 36, 54%, 50%;
		--sand-300: 36, 48%, 84%;
		--sand-400: 36, 48%, 76%;
		--sand-500: 36, 48%, 68%;
		--sand-600: 36, 40%, 54%;
		--sand-700: 36, 40%, 42%;
		--sand-800: 36, 50%, 28%;
		--sand-900: 36, 70%, 20%;

		--onyx-100: 165, 2%, 94%;
		--onyx-200: 165, 2%, 88%;
		--onyx-300: 165, 2%, 78%;
		--onyx-400: 165, 2%, 64%;
		--onyx-500: 165, 2%, 54%;
		--onyx-600: 165, 2%, 42%;
		--onyx-700: 165, 5%, 30%;
		--onyx-800: 165, 5%, 20%;
		--onyx-900: 165, 5%, 12%;

		--lavender-100: 265, 98%, 97%;
		--lavender-200: 265, 98%, 94%;
		--lavender-300: 265, 75%, 86%;
		--lavender-400: 265, 58%, 75%;
		--lavender-500: 265, 58%, 65%;
		--lavender-600: 265, 50%, 56%;
		--lavender-700: 265, 45%, 45%;
		--lavender-800: 265, 45%, 32%;
		--lavender-900: 265, 45%, 20%;

		--orchid-100: 288, 98%, 97%;
		--orchid-200: 288, 82%, 94%;
		--orchid-300: 288, 70%, 88%;
		--orchid-400: 288, 70%, 82%;
		--orchid-500: 288, 68%, 74%;
		--orchid-600: 288, 88%, 64%;
		--orchid-700: 288, 50%, 52%;
		--orchid-800: 288, 56%, 40%;
		--orchid-900: 288, 70%, 26%;

		--critical-100: 4, 92%, 97%;
		--critical-200: 4, 96%, 93%;
		--critical-300: 4, 96%, 88%;
		--critical-400: 4, 96%, 80%;
		--critical-500: 4, 92%, 70%;
		--critical-600: 4, 72%, 56%;
		--critical-700: 4, 74%, 42%;
		--critical-800: 4, 92%, 30%;
		--critical-900: 4, 94%, 20%;

		--warning-100: 40, 90%, 94%;
		--warning-200: 40, 96%, 88%;
		--warning-300: 40, 96%, 80%;
		--warning-400: 40, 88%, 70%;
		--warning-500: 40, 80%, 58%;
		--warning-600: 40, 80%, 46%;
		--warning-700: 40, 90%, 36%;
		--warning-800: 40, 90%, 26%;
		--warning-900: 40, 92%, 18%;

		--info-100: 208, 98%, 97%;
		--info-200: 208, 98%, 94%;
		--info-300: 208, 98%, 88%;
		--info-400: 208, 98%, 80%;
		--info-500: 208, 98%, 70%;
		--info-600: 208, 88%, 58%;
		--info-700: 208, 78%, 42%;
		--info-800: 208, 90%, 30%;
		--info-900: 208, 90%, 22%;

		--success-100: 162, 50%, 94%;
		--success-200: 162, 50%, 88%;
		--success-300: 162, 50%, 78%;
		--success-400: 162, 40%, 58%;
		--success-500: 162, 54%, 42%;
		--success-600: 162, 54%, 36%;
		--success-700: 162, 70%, 25%;
		--success-800: 162, 60%, 20%;
		--success-900: 162, 80%, 12%;

		--background: var(--smoke-300);
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: var(--onyx-600);
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: var(--seafoam-700);
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: var(--critical-200);
		--destructive-foreground: var(--critical-700);
		--successful: var(--success-200);
		--successful-foreground: var(--success-700);
		--pending: var(--info-200);
		--pending-foreground: var(--info-700);
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: var(--seafoam-500);
		--chart-2: var(--sienna-300);
		--chart-3: var(--sand-500);
		--chart-4: var(--info-500);
		--chart-5: var(--orchid-500);
		--radius: 0.5rem;
		--sidebar-background: var(--smoke-100);
		--sidebar-foreground: var(--onyx-700);
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: var(--smoke-200);
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-active: var(--seafoam-700);
		--sidebar-active-foreground: 0 0% 100%;
		--sidebar-border: var(--smoke-400);
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: var(--critical-200);
		--destructive-foreground: var(--critical-700);
		--successful: var(--success-200);
		--successful-foreground: var(--success-700);
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	@font-face {
		font-family: 'Tiempos Headline';
		src: url(../fonts/tiempos/tiempos-headline-web-light.woff2) format('woff2');
		font-weight: 100;
		font-style: normal;
	}

	/* Regular */
	@font-face {
		font-family: 'Tiempos Headline';
		src: url(../fonts/tiempos/tiempos-headline-web-regular.woff2)
			format('woff2');
		font-weight: 400;
		font-style: normal;
	}

	/* Medium */
	@font-face {
		font-family: 'Tiempos Headline';
		src: url(../fonts/tiempos/tiempos-headline-web-medium.woff2) format('woff2');
		font-weight: 500;
		font-style: normal;
	}

	/* Semibold */
	@font-face {
		font-family: 'Tiempos Headline';
		src: url(../fonts/tiempos/tiempos-headline-web-semibold.woff2)
			format('woff2');
		font-weight: 600;
		font-style: normal;
	}

	/* Bold */
	@font-face {
		font-family: 'Tiempos Headline';
		src: url(../fonts/tiempos/tiempos-headline-web-bold.woff2) format('woff2');
		font-weight: 700;
		font-style: normal;
	}

	/* Black */
	@font-face {
		font-family: 'Tiempos Headline';
		src: url(../fonts/tiempos/tiempos-headline-web-black.woff2) format('woff2');
		font-weight: 900;
		font-style: normal;
	}

	/************* MARK PRO *************/
	/* Light */
	@font-face {
		font-family: 'Mark Pro';
		src: url(../fonts/mark-pro/FFMarkWebProLight.woff2) format('woff2');
		font-weight: 100;
		font-style: normal;
	}
	@font-face {
		font-family: 'Mark Pro';
		src: url(../fonts/mark-pro/FFMarkWebProLightItalic.woff2) format('woff2');
		font-weight: 100;
		font-style: italic;
	}

	/* Regular */
	@font-face {
		font-family: 'Mark Pro';
		src: url(../fonts/mark-pro/FFMarkWebProRegular.woff2) format('woff2');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Mark Pro';
		src: url(../fonts/mark-pro/FFMarkWebProItalic.woff2) format('woff2');
		font-weight: 400;
		font-style: italic;
	}

	/* Medium */
	@font-face {
		font-family: 'Mark Pro';
		src: url(../fonts/mark-pro/FFMarkWebProMedium.woff2) format('woff2');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'Mark Pro';
		src: url(../fonts/mark-pro/FFMarkWebProMediumItalic.woff2) format('woff2');
		font-weight: 500;
		font-style: italic;
	}

	/* Bold */
	@font-face {
		font-family: 'Mark Pro';
		src: url(../fonts/mark-pro/FFMarkWebProBold.woff2) format('woff2');
		font-weight: 700;
		font-style: normal;
	}
	@font-face {
		font-family: 'Mark Pro';
		src: url(../fonts/mark-pro/FFMarkWebProBoldItalic.woff2) format('woff2');
		font-weight: 700;
		font-style: italic;
	}
}
